<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
      <i class="fas fa-plus"> </i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Type</th>
            <th style="text-align: center">imageUrl</th>
            <th style="text-align: center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i< category.length; i++ ){ %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= category[i].ctgName %></td>
            <td><%= category[i].ctgType %></td>
            <td style="text-align: center">
              <img src="https://admin-pocketlist.herokuapp.com/<%= category[i].ctgImageUrl %>" alt="imageUrl"
                height="35px">
            </td>
            <td style="text-align: center">
              <form action="/admin/category/<%= category[i].id %>?_method=DELETE" method="POST">
                <a href="javascript:void(0);" type="button" class="button-update" style="color: #fa991c"
                  data-id="<%= category[i].id %>" data-name="<%= category[i].ctgName %>"
                  data-type="<%= category[i].ctgType %>"><i class="fas fa-pencil-alt pr-2"></i></a>
                <button type="submit" href="" style="color: #fa991c" class="btn-delete pr-4"><i
                    class="fas fa-trash-alt"></i></button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>